h1 {
    background-color: steelblue;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color: steelblue;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.sidebar {
    position: fixed;
    width : 250px;
    height: 100vh;
    right: 0;
    top:0;
    background-color: white;
}